.footer {
  width: 100%;
  display: flex;
  color: white;
  justify-content: center;
  height: 60px;
  background-color: rgba(31, 31, 31);
}

a {
  text-decoration: none;
  color: white;
}
a:hover {
  cursor: pointer;
}
